{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main section container -->
    <main class="main-content">
        <section class="container">
            <h2 class="text-center mt-5">About Forex Simple Signals</h2>

            <p class="my-3">
                My name is Paul and I am trading FOREX for 6 years now and in the last year I can say that I found some consistency.<br><br>

                This service is created to give something back and to help other traders which are struggling. I'll try to keep it free but a donations section it's likely to appear.<br><br>

                The goal is to make at least 300 pips/month.<br><br>

                In general signals are intraday (London and New York sessions) or intraweek.<br><br>

                Signals are ordered by their opening time. This is important because sometimes this may be confusing when the last closed trade it's not first in the closed trades list.<br><br>

                Insights are just some articles which I find to be useful to read.<br><br>

                The interface and other things (e.g. disclaimer) will suffer changes in the future. Subscribe to the newsletter to recieve updates.<br><br>

                Bellow you can find the Myfxbook account which is made only to prove that I don't delete signals or add fake signals, that's the reason for which the account linked is a demo account.<br><br>
                <a href="https://www.myfxbook.com/members/ForexSimpleSig/forexsimplesignals/4960289"><img  border="0" src="https://widgets.myfxbook.com/widgets/4960289/mini.jpg"/></a> <br><br>
                Disclaimer<br>
                Signals provided on this application are only my opinion off the market and you should pass the information through your own filter.<br>
                Take this signals only as trading ideas.<br>
                I am not responsible for your losses or earnings.<br>
            </p>
        </section>
    </main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('about') }}
{% endblock %}