@charset "UTF-8";
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: inherit;
  text-transform: none;
  margin: 0 3px;
  line-height: 1.5;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before {
  vertical-align: text-bottom;
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-about:before {
  content: "";
}

.icon-chart:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-facebook .path1:before {
  content: "";
  color: #3a5ba0;
}

.icon-facebook .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-home:before {
  content: "";
}

.icon-linkedin .path1:before {
  content: "";
  color: #2867b2;
}

.icon-linkedin .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-linkedin .path3:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-linkedin .path4:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-search:before {
  content: "";
}

.icon-twitter .path1:before {
  content: "";
  color: #55acee;
}

.icon-twitter .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-youtube .path1:before {
  content: "";
  color: #c2191e;
}

.icon-youtube .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.fade-in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration: 1s;
  animation-delay: 1s;
}

/* ** Global styles ** */
body, html {
  min-height: 100vh;
  position: relative;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #191927;
  color: #fff;
  overflow-x: hidden;
}

blockquote {
  margin: 0;
}

p {
  margin: 0;
}

*:focus {
  outline: none !important;
}

hr {
  width: 95%;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(105, 128, 159, 0), rgba(105, 128, 159, 0.75), rgba(105, 128, 159, 0));
}

.main-content {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: 30px;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1d2126;
}

::-webkit-scrollbar-thumb {
  background: #01DB85;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #01DB85;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.btn {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background: #1abb9c;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.btn-top {
  display: inline-flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  font-size: 1.5rem;
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 50px;
  height: 50px;
  padding: 0.25em;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 12px 0 rgba(0, 0, 0, 0.2);
}
.btn-top:hover, .btn-top :focus {
  background-color: #1abb9c;
  color: #fff;
}

.single-input {
  position: relative;
}
.single-input input {
  background-color: #191927;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}
.single-input input::placeholder {
  color: #fff;
}
.single-input input:focus {
  background-color: #191927;
  border-color: #01DB85;
  color: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
}
.single-input button {
  position: absolute;
  right: 0.3rem;
  border: none;
  background-color: #1abb9c;
  padding: 2px 10px;
  color: #fff;
}

.section-title {
  display: inline-block;
  position: relative;
  margin: 0 15px 30px;
}
.section-title::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #01DB85;
  content: "";
  bottom: -7px;
}

.sell, .r-col {
  color: #FB494D;
}

.buy, .g-col {
  color: #1abb9c;
}

/* ** Navigation ** */
.bg-dark {
  background-color: #1F1F2F !important;
}

.navbar {
  box-shadow: 0 10px 19px -6px rgba(0, 0, 0, 0.75);
  padding: 8px 2.5%;
}

.navbar-brand img {
  width: 260px;
  height: auto;
}

.navbar-dark .navbar-nav .nav-link, a {
  color: #84858E;
  font-size: 1.2rem;
}
.navbar-dark .navbar-nav .nav-link:hover, a:hover {
  color: #01DB85;
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link i, a i {
  padding: 0 5px;
}

/* ** Footer ** */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1F1F2F;
  margin-top: 20px;
  padding: 20px 0 0;
}
footer p {
  color: #fff;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}
footer h5 {
  color: #fff;
  width: max-content;
  padding: 10px 0 0;
}

.footer-wrapper .section-title {
  margin: 0 0 20px;
}

.footer-contact-mail:hover {
  text-decoration: none;
  color: #01DB85;
}

.footer-newsletter .single-input input {
  padding-right: 100px;
}

.social-icons span {
  font-size: 40px;
}

.copyright {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #191927;
  font-size: 14px;
  padding: 20px 10px;
  margin: 0;
}
.copyright p {
  color: #01DB85;
  padding: 0;
}

/*# sourceMappingURL=app.css.map */
