@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'icomoon';

// ** VARS
// * COLORS
$mainBackgroundColor: #1F1F2F;
$mainDark: #191927;
$green: #01DB85;
$btnGreen: #1abb9c;
$red: #FB494D;
// * END COLORS
// ** END VARS

// * Fonts
@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
// * END Fonts

// * Fade-in-left
@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.fade-in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration:1s;
    animation-delay: 1s;
}
// * END Fade-in-left

/* ** Global styles ** */

body, html {
    min-height: 100vh;
    position: relative;
}

body {
    font-family: 'Source Sans Pro', sans-serif;;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $mainDark;
    color: #fff;
    overflow-x: hidden;
}

blockquote {
    margin: 0;
}

p {
    margin: 0;
}

*:focus {
    outline:none !important;
}

.main-content {
    height: 100%;
    max-width: 95%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    position: relative;
    padding-top: 30px;
    padding-bottom: 350px; /*compensating for the footer's height*/
}

.show {
    visibility: visible;
    opacity: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

// * Scrollbar for Chrome
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #1d2126;
}
::-webkit-scrollbar-thumb {
    background: $green;
    border-radius: 20px;
    &:hover {
        background: $green;
    }
}
// * END Scrollbar for Chrome

// *** Global styles for tags

// clears the 'X' in search input from Chrome & Internet Explorer
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

.btn {
    color: #fff;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    background: $btnGreen;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
}

// ** Go to top button
.btn-top {
    display: inline-flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-in-out;
    font-size: 1.5rem;
    position: fixed;
    bottom: 30px;
    right: 15px;
    width: 50px;
    height: 50px;
    padding: .25em;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 12px 0 rgba(0,0,0,0.2);
    &:hover, :focus {
        background-color: $btnGreen;
        color: #fff;
    }
}
// ** END Go to top button

// ** Single input form default styling
.single-input {
    position: relative;
    & input {
        background-color: $mainDark;
        color: #fff;
        font-family: "Source Sans Pro", sans-serif;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
    } & input::placeholder {
          color: #fff;
      }
    & input:focus {
        background-color: $mainDark;
        border-color: $green;
        color: #fff;
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
    }
    & button {
        position: absolute;
        right: .3rem;
        border: none;
        background-color: $btnGreen;
        padding: 2px 10px;
        color: #fff;
    }
}

.section-title {
    display: inline-block;
    position: relative;
    margin: 0 15px 30px;
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background-color: $green;
        content: "";
        bottom: -7px;
    }
}

.sell, .r-col {
    color: $red;
}

.buy, .g-col {
    color: $btnGreen;
}

/* ** Navigation ** */

.bg-dark {
    background-color: $mainBackgroundColor!important;
}

.navbar {
    box-shadow: 0 10px 19px -6px rgba(0,0,0,0.75);
    padding: 8px 2.5%;
}

.navbar-brand img {
    width: 260px;
    height: auto;
}

.navbar-dark .navbar-nav .nav-link, a {
    color: #84858E;
    font-size: 1.2rem;
    &:hover {
        color: $green;
        text-decoration: none;
    }
    & i {
        padding: 0 5px;
    }
}

/* ** Footer ** */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $mainBackgroundColor;
    margin-top: 20px;
    padding: 20px 0 0;
    & p {
        color: #fff;
        font-size: .9rem;
        padding-bottom: 1rem;
    }
    & h5 {
        color: #fff;
        width: max-content;
        padding: 10px 0 0;
    }
    & hr {
        width: 95%;
        border: none;
        height: 1px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-image: linear-gradient(to right, rgba(105, 128, 159, 0), rgba(105, 128, 159, 0.75), rgba(105, 128, 159, 0));
    }
}

.footer-wrapper .section-title {
    margin: 0 0 20px;
}

// * Contact section
.footer-contact-mail:hover {
    text-decoration: none;
    color: $green;
}
// * END Contact section

// ** Newsletter section
.footer-newsletter .single-input input {
    padding-right: 100px;
}
// ** END Newsletter section

// ** Social icons
.social-icons span {
    font-size: 40px;
}
// ** END Social icons

// ** Copyright
.copyright {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $mainDark;
    font-size: 14px;
    padding: 20px 10px;
    margin: 0;
    & p {
        color: $green;
        padding: 0;
    }
}

/* ** Media queries ** */

@media screen and (max-width: 992px) {

    .main-content {
        padding-bottom: 450px; /*compensating for the footer's height*/
    }
}


@media screen and (max-width: 768px) {

    .main-content {
        padding-bottom: 700px; /*compensating for the footer's height*/
    }
}