// ** VARS
// * COLORS
$mainBackgroundColor: #1F1F2F;
$green: #01DB85;
$btnGreen: #1abb9c;
$red: #FB494D;
// * END COLORS
// ** END VARS

/* ** Header ** */
header {
  min-height: 400px;
  background-image: linear-gradient(to bottom, transparent, #191927), url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 50px;
}

.header-txt {
  color: #fff;
  & h1 {
    color: #01DB85;
  }
  & p {
    padding-bottom: 15px;
    font-size: 20px;
  }
}

/* ** Home Main section ** */
/* Trades */

.trades .table {
  background-color: $mainBackgroundColor;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  color: #fff;
  & td, th {
    vertical-align: middle;
    text-align: center;
  }
  & thead th {
    border-top: unset;
  }
}

.trades-img {
  width: 50px;
}

.trades-actions {
  background-color: #1D2245;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 40px;
}

/* Insights */
.insights {
  background-color: #1F1F2F;
  color: #fff;
  padding: 20px 0;
  border-radius: .5rem;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  & h2 {
    color: #01DB85;
  }
  & .insights-img-wrapper {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
  } & .insights-img-wrapper img {
      width: 100%;
      height: 100%;
    }
}

/* Special styling for the main table */
@media screen and (max-width: 850px) {
    .trades-date {
      display: none;
    }
  }