// ** VARS
// * COLORS
$mainBackgroundColor: #1F1F2F;
$mainDark: #191927;
$gray: #84858E;
$green: #01DB85;
$btnGreen: #1abb9c;
$red: #FB494D;
// * END COLORS
// ** END VARS

.main-content {
  max-width: 95%;
  padding-bottom: 350px; /*compensating for the footer's height*/
}

/* ** Header ** */
header {
  min-height: 400px;
  background-image: linear-gradient(to bottom, transparent, #191927), url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 50px;
}

.header-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.header-txt {
  color: #fff;
  & h1 {
    color: #01DB85;
  }
  & p {
    padding-bottom: 15px;
    font-size: 20px;
  }
}

/* ** Main section ** */
/* Trades */

.trades .table {
  background-color: $mainBackgroundColor;
  border-radius: .5rem;
  color: #fff;
  & td, th {
    vertical-align: middle;
    text-align: center;
  }
  & thead th {
    border-top: unset;
  }
  & .closed-date {
    color: $gray;
  }
}

.trades-img {
  width: 50px;
}

.trades-pair {
  font-weight: bold;
}

.trades-actions {
  background-color: #1D2245;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 40px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 12px 0 rgba(0, 0, 0, 0.2);
}

.trades-box {
  background-color: #1F1F2F;
  border-radius: .5rem;
  padding: 25px;
  margin-bottom: 25px;
}

/* Insights */
.insights {
  background-color: #1F1F2F;
  color: #fff;
  padding: 20px 10px 0;
  border-radius: .5rem;
  & h2 {
    color: #01DB85;
  }
  & .insights-img-wrapper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  } & .insights-img-wrapper img {
      width: 100%;
      height: 100%;
    }
  & hr:last-child {
    display: none;
  }
}

/* ** Media queries ** */

@media screen and (max-width: 992px) {

  .main-content {
    padding-bottom: 450px; /*compensating for the footer's height*/
  }
}


@media screen and (max-width: 768px) {

  .main-content {
    padding-bottom: 700px; /*compensating for the footer's height*/
  }
}