// ** VARS
// * COLORS
$mainBackgroundColor: #1F1F2F;
$mainDark: #191927;
$gray: #84858E;
$green: #01DB85;
$btnGreen: #1abb9c;
$red: #FB494D;
// * END COLORS
// ** END VARS

.main-content {
  padding-bottom: 350px; /*compensating for the footer's height*/
}

/* Trades */


.trades .pagination {
  justify-content: center;
  & span.page-link {
    height: 100%;
  }
}

.trades .table {
  background-color: $mainBackgroundColor;
  border-radius: .5rem;
  color: #fff;
  & td, th {
    vertical-align: middle;
    text-align: center;
  }
  & thead th {
    border-top: unset;
  }
  & .closed-date {
    color: $gray;
  }
}

.trades-img {
  width: 50px;
}

.trades-pair {
  font-weight: bold;
}

.trades-actions {
  background-color: #1D2245;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 40px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 12px 0 rgba(0, 0, 0, 0.2);
}

/* ** Media queries ** */

@media screen and (max-width: 992px) {

  .main-content {
    padding-bottom: 450px; /*compensating for the footer's height*/
  }
}


@media screen and (max-width: 768px) {

  .main-content {
    padding-bottom: 700px; /*compensating for the footer's height*/
  }
}