{% extends 'base.html.twig' %}

{% block body %}

    <!-- Main section container -->
    <main class="main-content">

    </main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('signals') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('signals') }}
{% endblock %}